[Unit]
Description=ivy bot

[Service]
After=network.target
Restart=always
RestartSec=1
WorkingDirectory=/opt/botivy
ExecStart=/opt/poetry/bin/poetry run python -m ivy_bot

[Install]
WantedBy=multi-user.target
